* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    line-height: 2rem;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: red;
    background-color: yellow;
    padding: 1rem;
}

header nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

body {
    padding: 30px;
}

#about {
    display: flex;
    padding: 20px;
}

h2 {
    font-weight: bold;
}

#about img {
    width: 300px;
}

#about .links {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.about-description {
    padding: 20px;
    background-color: aqua;
    margin: 20px 0px 20px 0px;
}

a {
    text-decoration: none;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem 0rem 2rem 0rem;
}

.cards {
    padding: 1rem;
    background-color: bisque;
    border-radius: 5px;
}

.cards .links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5em;
}

.cards .links img {
    width: 1.3em;
}

#contact {
    padding: 20px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(214, 236, 115);
}

.footer-img {
    display: flex;
    justify-content: flex-end;
}

footer img {
    width: 300px;
}

@media (max-width : 600px) {

    body {
        padding: 10px;
    }

    header nav {
        flex-direction: column;
        align-items: center;
    }

    #projects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 0px;
        margin-bottom: 10px;
    }

    footer {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .footer-img {
        justify-content: space-around;
    }
}

@media(max-width : 600px){
    #about {
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin-top: 5px;
    }

    #about img {
        width: 250px;
    }

    .about-description {
        margin-top: 10px;
    }
}

@media(min-width : 600px){
    #projects{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width : 1024px){
    #projects{
        grid-template-columns: 1fr 1fr 1fr;
    }
}