* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  line-height: 2rem;
}

header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: red;
    background-color: yellow;
    padding: 1rem;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

body{
    padding: 30px;
}

.about{
    display: flex;
    padding: 20px;
}

.about-description {
    padding: 20px;
    background-color: aqua;
    margin: 20px 0px 20px 0px;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem;
}

.cards{
    padding: 1rem;
    background-color: bisque;
    border-radius: 5px;
    padding: 1rem;
}

footer{
    display: grid;
    grid-template-columns: 1fr 300px;
}

.contact{
    padding: 20px;
    background-color: rgb(214, 236, 115);
}